.heading1 {
  display: flex;
  color: #333333;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

/* Variants */
.detailsPage {
  font-size: 22px !important;
  font-weight: 600 !important;
}

@media (min-width: 768px) {
  .heading1 {
    font-size: 18px;
    line-height: 22px;
  }

  .detailsPage {
    font-size: 28px !important;
  }
}

@media (max-width: 375px) {
  .heading1 {
    font-size: 18px !important;
    line-height: 22px;
  }
}
