.heading1 {
    color: #333333;
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

@media (min-width: 768px) {
    .heading1 {
        font-size: 18px;
        line-height: 22px;
    }
}