.heading1 {
  color: #333333;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.detailsPage {
  font-size: 28px !important;
  font-weight: 600 !important;
}

@media (min-width: 768px) {
  .heading1 {
    font-size: 18px;
    line-height: 22px;
  }
}
