.heading1 {
  color: #333333;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.detailsPage {
  font-size: 28px !important;
  font-weight: 600 !important;
}

.detailsLabel {
  color: #333 !important;
  opacity: 0.5;
  font-size: 14px !important;
  font-weight: 400;
  line-height: normal !important;
  margin-bottom: 6px;
}

.detailsValue {
  margin-bottom: 62px;
}

@media (min-width: 768px) {
  .heading1 {
    font-size: 18px;
    line-height: 22px;
  }
}
