.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 6px;
  position: relative;
  max-width: 608px;
}

.leftBlock {
  text-align: center;
}

.companyName {
  margin-top: 28px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

.cardLocation {
  display: flex;
  justify-content: center;
  margin-bottom: 22px;
}

.cardWebsite {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.categoryWrapperContainer {
  margin-bottom: 23px;
}

.rightBlock {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.threeDotsIcon {
  /* margin-left: auto; */
  position: absolute;
  top: 20px;
  right: 20px;
}

.threeDotsIcon:hover {
  cursor: pointer;
}

.categoryInnerContainer {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
  padding: 4px 12px;
  background-color: #faf2ff;
  border-radius: 6px;
  display: inline-block;
}

.lastVisitContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 8px;
  margin-bottom: 10px;
}

@media (min-width: 600px) {
  .cardContainer {
    padding: 18px 30px 19px 24px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .leftBlock {
    flex-basis: 50%;
    text-align: left;
    margin-bottom: 0;
  }

  .companyName {
    margin-top: 30px;
  }

  .cardLocation {
    justify-content: left;
    margin-bottom: 20px;
  }

  .cardWebsite {
    justify-content: left;
  }

  .rightBlock {
    flex-basis: 50%;
    text-align: right;
    margin-top: 0;
    margin-left: auto;
  }

  .threeDotsIcon {
    position: static;
    top: auto;
    right: auto;
    margin-bottom: 10px;
    display: inline-block;
  }

  .categoryInnerContainer {
    margin-bottom: 47px;
  }

  .lastVisitContainer {
    display: flex;
    justify-content: right;

    height: 100%;
    gap: 8px;
    margin-bottom: 0;
  }
}

@media (min-width: 1300px) {
  .cardContainer {
    width: 608px;
  }
}
