.cardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: #fff;
  border-radius: 6px;
  padding: 24px;
  box-shadow: 0px 18px 32px 0px rgba(126, 129, 139, 0.05);
}

.overviewContainer {
  grid-area: 1 / 1 / 2 / 2;
}

.categoriesContainer {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: center;
}

.lastVisitContainer {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: end;
}

.cardLocation {
  display: flex;
  margin-top: 16px;
  align-items: center;
}

.locationText {
  padding-left: 6px;
}

.cardWebsite {
  display: flex;
  margin-top: 12px;
  align-items: center;
}

.websiteText {
  padding-left: 6px;
}

@media (min-width: 768px) {
  .cardContainer {
    padding: 24px 30px 30px 30px;
  }
}
