.avatarContainer {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 12px;
}

.userAvatar {
  height: 30px;
  width: 30px;
  border-radius: 999px !important;
}

.avatarImage {
  border-radius: 12px;
}

.detailsPage {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 764px) {
  .userAvatar {
    height: 35px;
    width: 35px;
  }
}
