.navBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background-color: white;
}

.logo {
  margin-top: 5px;
}
.loginControls {
  display: flex;
}

@media screen and (max-width: 764px) {
  .navBarContainer {
    padding-left: 21px;
    padding-right: 21px;
  }
}

@media screen and (max-width: 375px) {
  .navBarContainer {
    flex-direction: column;
    gap: 21px;
    align-items: center;
  }
}
