.detailsCardMainContainer {
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: white;
}

.companyName {
  padding: 38px 0 38px 152px;
}
