.companyName {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 38px 0 38px 100px;
}

.iframeOutline {
  border: 1px solid #f6f6f6;
}

.iframeSection {
  display: flex;
  width: 100%;
  min-height: 600px;
  /* border-color: #f6f6f6; */
  border: none;
  margin-bottom: 62px;
  padding: 15px;
}

.hidden {
  display: none;
}

@media screen and (max-width: 375px) {
  .companyName {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    gap: 5px;
  }
  .infos {
    margin: 0;
    padding: 10px;
    background-color: white;
  }
  .iframeOutline {
    border: none;
  }

  .iframeSection {
    padding: 0;
    min-height: 400px;
    padding: 0;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 376px) {
  .companyName {
    padding-left: 21px;
    gap: 15px;
  }
  .infos {
    margin: 0px 27px 73px 21px;
    padding: 20px 22px;
    background-color: white;
    border-radius: 16px;
  }
  .iframeOutline {
    border: none;
  }
  .iframeSection {
    padding: 0;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 764px) {
  .companyName {
    padding-left: 100px;
  }
  .infos {
    margin: 0 100px 80px;
    padding: 30px 30px 0;
    /* background-color: white;
    border-radius: 16px; */
  }
}

@media screen and (max-width: 500px) {
  .buttonsBar {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;

    justify-content: space-around;
    margin-bottom: 42px;
  }
}

@media screen and (max-width: 276px) {
  .buttonsBar {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .iframeSection {
    min-height: 300px;
  }
}
