.detailsCardMainContainer {
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: white;
}

.companyName {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 38px 0 38px 100px;
}

.iframeOutline {
  border: 1px solid #f6f6f6;
}

.iframeSection {
  display: flex;
  width: 100%;
  min-height: 800px;
  /* border-color: #f6f6f6; */
  border: none;
  margin-bottom: 62px;
  padding: 15px;
}

.closeButton {
  margin-bottom: 15px !important;
}

.hidden {
  display: none;
}

.companyInfosSection {
  /* padding: 110px 100px 80px; */
}

.button {
  border: none;
  margin-right: 20px;
  padding: 16px 32px;
  border-radius: 10px;
  background-color: #d0d3d9;
  color: white;
  margin-bottom: 102px;
}

.button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.saveButton {
  background-color: #a54fa8;
}

.infos {
  margin: 0 100px 80px;
  padding: 30px 30px 0;
  background-color: white;
  border-radius: 16px;
}
