.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  color: black;
  opacity: 0.99;
  position: fixed;
  margin-top: -20rem;
  text-align: center;
  inset: 0;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 14rem;
  /* border: 1px solid lightgrey; */
  border-radius: 8px;
  /* box-shadow: 0px 0px 18px 0px black; */
  box-shadow: 0px 12px 24px 0px rgba(126, 129, 139, 0.3);

  background-color: white;
}

@media (min-width: 700px) {
  .overlay {
    position: absolute;
    background-color: transparent;
    margin-top: 2.2rem;
    margin-right: -25rem;
  }
  .modalcontainer {
    margin-top: 0;
    position: absolute;

    right: 0;
  }
}
