.addCompanyForm {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 100%;
  min-height: 90px;
  padding-left: 110px;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #fff;
}

.formBanner {
  font-size: 28px;
  font-family: sans-serif;
  font-weight: 400;
  margin-left: 100px;
  padding: 38px 0;
}

.addCompanyFormInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 50px;
  min-width: 552px;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #d0d3d9;
}

.formLabel {
  padding-bottom: 1rem;
}

.formInputs {
  width: 100%;
  background-color: #f6f6f6;
  /* padding: 110px 100px 35px; */
}

.forInputsInner {
  padding: 30px;
  background-color: #fff;
  margin: 0 100px;
  border-radius: 16px;
  /* display: flex;
  flex-wrap: wrap; */
}

.submitButton {
  color: #fff;
  background-color: #a54fa8;
}
