.container {
  padding: 24px 24px 30px 24px;
}

.mainContainer {
  margin-top: 30px;
}

.mainCardContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 24px;
}

@media (min-width: 768px) {
  .container {
    padding: 40px 80px;
  }
}

@media (min-width: 1100px) {
  .container {
    padding: 40px 100px;
  }
  .mainCardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
  }
}
