.container {
  padding: 24px 24px 30px 24px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.mainContainer {
  margin-top: 30px;
}

.mainCardContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}

.mainDropdownContainer {
  display: flex;
  flex-wrap: wrap;
}

.mainToggleContainer {
  display: flex;
  justify-content: center;
}

.newCompanyLink {
  order: 1;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .mainDropdownContainer {
    gap: 24px;
  }

  .newCompanyLink {
    order: 2;
    width: calc(50% - 12px);
  }

  .container {
    padding: 40px 80px;
  }
}

@media (min-width: 1100px) {
  .container {
    padding: 40px 100px;
  }
  .mainCardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
  }
}
