.mainPageContainer {
  display: flex;
  flex-direction: column;
  padding: 24px 24px 30px 24px;
}

.companiesCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.mainContainer {
  margin-top: 30px;
}

.mainDropdownContainer {
  display: flex;
  flex-wrap: wrap;
}

.newCompanyLink {
  order: 1;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 673px) {
  .companiesCards {
    margin: auto;
  }
}
@media (min-width: 768px) {
  .mainDropdownContainer {
    gap: 24px;
  }

  .newCompanyLink {
    order: 2;
    width: calc(50% - 12px);
  }

  .container {
    padding: 40px 80px;
  }
}

@media (min-width: 1100px) {
  .container {
    padding: 40px 100px;
  }
}

@media (min-width: 1300px) {
  .companiesCards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
}

@media (min-width: 1400px) {
  .companiesCards {
    column-gap: 80px;
    row-gap: 30px;
  }
}

@media (min-width: 1500px) {
  .companiesCards {
    column-gap: 100px;
    row-gap: 40px;
  }
}
